.ui-page-login,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.mui-content {
	height: 100%;
}

.mui-input-row1 {
	color: #2AC845;
}

.mui-password1 {
	background-color: #007AFF;
}

.navsb {
	font-weight: bold;
	color: #FF0000;
}

h5 {
	padding-top: 8px;
	padding-bottom: 8px;
	text-indent: 12px;
}
.price{ color: #DD524D; font-weight: bold;}
